[submodule "2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34"]
	path = 2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34.git
[submodule "2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4"]
	path = 2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4.git
[submodule "2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4"]
	path = 2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4.git
[submodule "2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4"]
	path = 2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4.git
[submodule "2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2"]
	path = 2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2.git
[submodule "OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3"]
	path = OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4"]
	path = 2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4.git
[submodule "2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft"]
	path = 2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft.git
[submodule "2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34.git
[submodule "2013-11-25-16-38_p2commentariainari03bero_jp2_Philo_Gamera_34"]
	path = 2013-11-25-16-38_p2commentariainari03bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-25-16-38_p2commentariainari03bero_jp2_Philo_Gamera_34
[submodule "2013-11-25-16-35_commentariaina17akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-25-16-35_commentariaina17akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-25-16-35_commentariaina17akaduoft_jp2_Philo_Gamera_34
[submodule "2013-11-25-16-34_p2commentariainari01bero_jp2_Philo_Gamera_34"]
	path = 2013-11-25-16-34_p2commentariainari01bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-25-16-34_p2commentariainari01bero_jp2_Philo_Gamera_34
[submodule "2013-11-25-09-21_commentariaina19pt12akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-25-09-21_commentariaina19pt12akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-25-09-21_commentariaina19pt12akaduoft_jp2_Philo_Gamera_34
[submodule "2013-11-24-17-48_commentariainari20bero_jp2_Philo_Gamera_34"]
	path = 2013-11-24-17-48_commentariainari20bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-24-17-48_commentariainari20bero_jp2_Philo_Gamera_34
[submodule "2013-11-23-20-28_p1commentariaina22akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-23-20-28_p1commentariaina22akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-23-20-28_p1commentariaina22akaduoft_jp2_Philo_Gamera_34
[submodule "2013-11-22-06-34_commentariaina05pt13akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-22-06-34_commentariaina05pt13akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-22-06-34_commentariaina05pt13akaduoft_jp2_Philo_Gamera_34
[submodule "2013-11-21-13-37_p3commentariainari02bero_jp2_Philo_Gamera_34"]
	path = 2013-11-21-13-37_p3commentariainari02bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-21-13-37_p3commentariainari02bero_jp2_Philo_Gamera_34
[submodule "2013-11-21-13-36_p1commentariainari03bero_jp2_Philo_Gamera_34"]
	path = 2013-11-21-13-36_p1commentariainari03bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-11-21-13-36_p1commentariainari03bero_jp2_Philo_Gamera_34
[submodule "2013-07-01-03-39_commentariainari23akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-07-01-03-39_commentariainari23akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-07-01-03-39_commentariainari23akaduoft_jp2_Philo_Gamera_34
[submodule "2013-07-01-03-31_commentariaina14pt13akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-07-01-03-31_commentariaina14pt13akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-07-01-03-31_commentariaina14pt13akaduoft_jp2_Philo_Gamera_34
[submodule "2013-07-01-03-30_commentariaina21pt12akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-07-01-03-30_commentariaina21pt12akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-07-01-03-30_commentariaina21pt12akaduoft_jp2_Philo_Gamera_34
[submodule "2013-06-12-12-56_p1commentariainari02bero_jp2_Philo_Gamera_34"]
	path = 2013-06-12-12-56_p1commentariainari02bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-06-12-12-56_p1commentariainari02bero_jp2_Philo_Gamera_34
[submodule "2013-06-10-17-13_commentariainari04akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-06-10-17-13_commentariainari04akaduoft_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-06-10-17-13_commentariainari04akaduoft_jp2_Philo_Gamera_34
[submodule "2013-06-10-17-11_p1commentariainari01bero_jp2_Philo_Gamera_34"]
	path = 2013-06-10-17-11_p1commentariainari01bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-06-10-17-11_p1commentariainari01bero_jp2_Philo_Gamera_34
[submodule "2013-06-10-17-09_p2commentariainari02bero_jp2_Philo_Gamera_34"]
	path = 2013-06-10-17-09_p2commentariainari02bero_jp2_Philo_Gamera_34
	url = https://github.com/OpenGreekAndLatin/2013-06-10-17-09_p2commentariainari02bero_jp2_Philo_Gamera_34
