[submodule "2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34"]
	path = 2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-18-09-02_operaquaesupersu04phil_jp2_Philo_Gamera_34.git
[submodule "2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4"]
	path = 2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-07-41_operarecensuitri10libauoft_jp2_Kaibel_Round_4.git
[submodule "2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4"]
	path = 2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-16-29_libaniiopera02foergoog_jp2_Kaibel_Round_4.git
[submodule "2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4"]
	path = 2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-26-16-41_libaniiopera00foergoog_jp2_Kaibel_Round_4.git
[submodule "2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2"]
	path = 2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-07-30-08-23_libaniiopera01libagoog_jp2_Kaibel_Round_4_2.git
[submodule "OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3"]
	path = OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-15-07-51_operarecensuitri01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-17-11-05_athenaeinavcrati03atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-18-13-55_pt2operarecensu01libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-14_operarecensuitri07libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-15_operarecensuitri03libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-15_operarecensuitri09libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-23-09-17_operarecensuitri02libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-26-14-21_operarecensuitri05libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3"]
	path = 2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-08-26-14-21_operarecensuitri06libauoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-05-15-44_athenaeinavcrati01atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3"]
	path = 2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-05-15-45_athenaeinavcrati02atheuoft_jp2_Kaibel_Round_4_3.git
[submodule "2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4"]
	path = 2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-22-08-36_pt3patrologiaecur16mign_jp2_Migne4.git
[submodule "2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft"]
	path = 2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-10-24-14-51_acriticalandexe02gloauoft_jp2_OCT7_acriticalandexe02gloauoft.git
[submodule "2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34"]
	path = 2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34
	url = https://fbaumgardt@github.com/OpenGreekAndLatin/2013-11-24-17-53_commentariaina09akaduoft_jp2_Philo_Gamera_34.git
